{% extends "base.html.twig" %}

{% block content %}
    <div class="register">
        {{ form_start(form, {'method': 'post', 'action': path('modifier_cables', { 'id': cable.id }),
            'attr': {'class': 'register-form'}}) }}

        <div class="register-table">
            <div class="row">
                <span>
                    Quantité Disponible
                </span>
                {{ form_widget(form.quantite, {'attr':{'class':'field'}}) }}
            </div>
        </div>

        <div>
            <input type="submit" value="Soumettre" class="submit-btn" />
        </div>

        {{ form_end(form) }}
    </div>


{% endblock content %}